.search {
    --radius: 2em;
    --input-padding: 1.5em;
    --input-width: 85%;

    width: var(--input-width);
    height: auto;

    position: absolute;

    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search>input {
    font-size: 1em;
    
    width: 100%;
    height: auto;
    
    padding: 1em calc(var(--input-padding)*2) 1em var(--input-padding);
    
    border-radius: var(--radius);
    border: 1px solid var(--gray);
    
    box-shadow: var(--dark-shadow);
}

.search>input:focus {
    outline-style: solid;
    outline-color: var(--clr-black);
}

.icon-search {
    position: absolute;
    height: fit-content;

    top: 50%;
    bottom: 50%;
    right: var(--input-padding);

    transform: translateY(-50%);

    cursor: pointer;
}

.icon {
    font-size: 120%;
}

/*----------------Drop-menu----------------*/

.dropmenu {
    --dropmenu-width: 100%;
    --dropmenu-heigth: 15em;

    position: absolute;

    display: flex;
    justify-content: center;
    z-index: 15;

    width: var(--dropmenu-width);
}

.droplist {
    margin: 0 auto;

    width: calc( var(--dropmenu-width) - 10% );
    max-height: var(--dropmenu-heigth);

    overflow-y: scroll;

    list-style-type: none;
    border: 1px solid var(--primary-green-4);

    background-color: var(--clr-white);
    padding: 0.8em 0;
    border-radius: 10px;
}

.droplist>* {
    padding: 0.5em 1em;
}

.droplist>li {
    cursor: pointer;
}
.droplist>li:hover {
    background-color: var(--primary-green-2);
}

@media only screen and (min-width:476px) {
    .search {
        --input-width: 65%;
    }
    .dropmenu {
        --dropmenu-heigth: 25em;
    }
}

@media only screen and (min-width:768px) {
    .search {
        --input-width: 20em;

        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    .dropmenu {
        --dropmenu-width: 20em;
    }
}

@media only screen and (min-width:992px) {
    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}